* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

/* RESPOSIVE */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* 2xl */
html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
/* END RES */

/* HEADER */
header {
    background-image:linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(./../img/banner2.jpg);
    min-height: 350px;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    font-family: 'Quicksand', sans-serif;
}

header form .form-control{
    position: relative;
    padding: 5px 50px 5px 20px;
}

/* thay doi vi tri kinh lup */
header form i:nth-child(2) {
    position: absolute;
    right: 113px;
    top: 25px;
}

header form i:last-child {
    position: absolute;
    top: 14px;
    right: -17px;
}

/* Tương lai tươi sáng */
#myBody {
    background-color: white;
}

#switchButton #sun {
    display: none;
}
#switchButton #moon {
    display: block;
}

/* Tương lai u tối */
.dark#myBody {
    background-color: #232220;
}

.dark #switchButton #sun {
    display: block;
    color: white;
    position: static;
}
  
.dark #switchButton #moon {
    display: none;
}

.dark #backtohome {
    color: white;
}

.dark .footer__socials a {
    background-color: #232220 ;
}

.dark .subcribe input {
    border: 1px solid transparent;
    box-shadow: none;
}

.dark .subcribe #Email:focus {
    border: 1px solid #FF6600;
    background-color: #404040;
}

.dark main {
    background-color: #232220;
    color: white !important;
}

.dark main .bg input {
    box-shadow: none;
}

.dark main .bg input:focus {
    box-shadow: none;
}

.dark input {
    background-color: #232323 !important;
    color: white !important;
    border: none !important;
}

.dark input:focus {
    border: 1px solid #FF6600 !important;
    box-shadow: none;
}

header nav a {
    text-decoration: none;
    /* color: black; */
    font-weight: 700 !important;
}

header .direction {
    padding: 80px 0 0 0;
    position: relative;
    width: 100%;
}

header ol li a {
    color: orange;
}
/* END HEADER */

/* MENU POP UP */
.modal {
    background-color: rgba(7,10,12,.50);

}

.modal .modal-content {
    background-color: rgba(0, 0, 0, 0.007);
}

.modal .modal-content a {
    color: white;
    font-size: 25px;
    transition: all 0.5s;
}

.modal .modal-content a:hover {
    color: #FF6600;
}

/* END MENU POP UP */

/* CONTENT */
.content {
    padding: 85px 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.content h1 {
    font-size: 130px;
    font-weight: 700;
    letter-spacing: 5px;
}

.content h3 {
    font-size: 30px;
    font-weight: 700;
}

.content form .me-4{
    height: 50px;
    width: 280px;
}

.content form button {
    height: 50px;
    width: 120px;
    font-weight: 700;
    background-color: #FF6600;
    color: white;
    opacity: 1;
    transition: all 0.5s;
}

.content form .btn:hover{
    background-color: #FF6600;
    opacity: 0.8;
    color: white;
}

.content a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.content a i {
    font-weight: 700;
    position: absolute;
    top: 7px;
    left: 557px;
}

.content a p {
    font-weight: 900;
    transition: all 0.5s;
}

.content a p:hover {
    color: #FF6600;
}
/* END CONTENT */

/* FOOTER */
footer {
    background-color: black;
}
footer .footer__logo h5{
    font-size: 2rem;
}
footer .footer__logo h5 a{
    font-size: 30px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    padding: 0;
}
footer .footer__logo h5 a:hover{
    color: #ff6600;
    transition: all .5s;
}
.footer__main h6{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}
.footer__main p, .footer__main ul li a{
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer__main ul .item-2 {
    text-decoration: none;
}

.footer__socials a{
    margin-right: 10px;
    color: #ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
    position: relative;
}

.footer__socials a i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.footer__socials a:hover{
background: #ff6600;
transition: 0.3s;
color: #fff;
}
.footer__main li{
    margin-bottom: 10px;
}

.footer__main li a {
    transition: all 0.5s;
}

.footer__main li:hover a {
   color: #FF6600;
}

.footer__main input[type="email"]{
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgb(22 28 45 / 70%);
    background: #fff;
    border-radius: 6px;
}
.footer__main input[type="email"]:focus{
    border: 1px solid #ff6600;
    background-color: #fff; 
}
.footer__main .form__btn{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: all 0.5s;
    border-radius: 6px;
    border: 2px solid transparent;
    color: #fff;
    background-color: #ff6600;
}
.footer__main .form__btn:hover{
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
    padding: 1.2em 0;
    background: #000;
    border-top: 1px solid rgb(255 255 255 / 5%);
}
.copyright .copy__main a{
    color: #ff6600;
}

.copyright p {
    gap: 5px;
    align-self: center;
    color: #ddd;
    font-size: 17px;
}

.copyright p a {
    color: #FF6600;
    text-decoration: none;
}

.copyright p a:hover {
    color: white;
    transition: all .5s;
}
/* END COPYRIGHT */
/* BACK TO TOP */
.backtotop {
    display: block;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #ff6600;
    padding: 0;
    line-height: 48px;
    text-align: center;
    border-radius: 35px;
    transition: 0.3s ease-out;
    opacity: 0;
}
.cd-top--is-visible { 
    /* // back-to-top button visible */
    visibility: visible;
    opacity: 1;}
/* .backtotop.active {
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;
} */


  
  
/* END BACK TO TOP */
/* @media screen and (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
} */
@media screen and (max-width: 1280px){
.container {
    max-width: 1200px;
}
}
@media screen and (max-width: 1280px){
.story__content .whatwedo {
    grid-column-gap: 30px;
}
}
@media (max-width: 1080px){
.story__content .whatwedo {
    grid-column-gap: 15px;
}
}
@media (max-width: 992px){
.story__content .whatwedo {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
}
@media (max-width: 800px){
.story__content .whatwedo {
    grid-template-columns: 1fr;
}
}
@media (max-width: 568px){
.story__content .whatwedo {
    grid-row-gap: 20px;
    grid-column-gap: 15px;
}
}
@media (max-width: 415px){
.story__content .whatwedo {
    grid-template-columns: 1fr;
}
}